ul.nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(149, 117, 179);
    display:flex;
    border: 2px white;
}

ul.nav_bar li{
    float: left;

}

ul.nav_bar li a{
    display:block;
    color: black;
    padding: 14px, 16px;
    text-decoration: none;

}

ul.nav_bar li a:hover{
    background-color: rgb(91, 72, 108);
    color:white;

}

table{
    width: 100%;
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    text-align: center;
}

tr:nth-of-type(even){
    background-color: #97b3ef;
}

tr:first-of-type{
    background-color: rgb(132, 107, 168);
}
